@charset "UTF-8";

body{
	background-color: orange;
}
.size1{
	width: 500px;
	height: 500px;
	background-image: url("images/sky.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
.size2{
	width: 500px;
	height: 500px;
	background-image: url("images/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.size3{
	width: 500px;
	height: 500px;
	background-image: url("images/sky.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
.size4{
	width: 500px;
	height: 500px;
	background-image: url("images/sky.jpg");
	background-repeat: no-repeat;
	background-size: 500px 150px;
}